
body {
font-family:'Inter',sans-serif;
box-sizing: border-box;
}
nav{ 
height: 80px;
width:100%;
background:black;
}
label.logo{
color:white;
font-size: 30px;
line-height: 80px;
margin-left: 100px;
font-weight: bold;
padding: 2%;
}
nav ul{
float: right;
margin-right: 100px;
}
nav ul li{
display: inline-block;;
line-height: 80px;
}
nav ul li a{
color:#fff;
font-size: 20px;
font-weight: bold;

}

.content {
display: flex;
flex-direction: row;
height: 100vh;
width: 100%;
}

.text-main {
display: flex;
flex-direction: column;
margin-left: 2rem;
flex: 1;
margin-top: 4rem;
}

.image {
flex: 1;
margin-top: 2rem; 
margin-bottom: 2rem;  
}

.image img {
width: 800px;
height: 800px;
}
li button{
font-size: 20px;
background-color: #ED661F;
color: #fff;
font-weight: bold;
border-radius: 0px;
padding: 10px 20px;
}
nav ul li a:hover{
transition: .5s;
color: #ED661F;
}
.one {
height:10px;
width: 10px;
margin-left: 400px;
font-weight: bold;
}
.header {
display: flex;
flex-direction: row;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.exist img{
float: right;
width: 50%;
height: 100%;

}
.exist p{
width: 50%;
font-size: 200%;
height: 20px;

}
.products {
align-items: center;
justify-content: center;
text-align: center;
clear: both;
}
.popular {
align-items: center;
text-align: center;
}
.scrach {
display: flex;
flex-direction: row;
width: 100%;
}
.products{
padding:1%;
margin-left: 8%;
justify-content: center;

}
table{
font-family: 'Courier New', Courier, monospace;
font-size: 30px;
width: 100%;
color: aquamarine;
border-collapse: collapse;
background-color: black;
border: 1px solid;

}
.item {
align-items: center;
text-align: center;
}
.farm {
display: flex;
}
.past {
padding: 1%;
justify-content: space-between;
align-items: center;
text-align: center;
margin-left: 6%;
}
.sol {
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.mono {
    display: flex;
    margin-left: 8%;
    align-items: center;
    justify-content: space-between;
}
.end {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}